<mat-card class="client-page">
    <mat-card-title class="title">Página dos Clientes</mat-card-title>
    <mat-card-subtitle class="subtitle">
        Visualização de todos os clientes registrados no sistema
    </mat-card-subtitle>
</mat-card>
<form class="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Filtrar clientes</mat-label>
      <input matInput placeholder="Ex. Predialize">
    </mat-form-field>
  </form>
<mat-card>
    <app-list-client></app-list-client>
</mat-card>

