<mat-card class="enterprise-page">
    <mat-card-title class="title">Página das Empresas</mat-card-title>
    <mat-card-subtitle class="subtitle">
        Visualização de todas as empresas registradas no sistema
    </mat-card-subtitle>
</mat-card>
<mat-card>
    <div class="filters">
        <form class="form">
            <mat-form-field appearance="fill">
                <mat-label>Filtrar Empresas</mat-label>
                <input matInput placeholder="Ex. Predialize" (change)="keyPress($event)">
            </mat-form-field>
        </form>
    </div>
    <app-list-enterprise [enterprises]="enterprises"></app-list-enterprise>
</mat-card>