<div class="card">
    <div>
        <mat-card-title>{{ client.name }}</mat-card-title>
        <mat-card-subtitle>Cliente de ID: {{ client._id }}</mat-card-subtitle>
        <mat-card-content>
            <p>
                Quantidade total de empreendimentos: {{ client.quant_enterprises }}
            </p>
            <p>
                Quantidade total de imóveis: {{ client.quant_realties }}
            </p>
        </mat-card-content>
    </div>
    <a>
        <img [src]="client.image_src" class="img1" alt="logo do cliente">
    </a>
</div>