<div class="filters">
    <div class="navigation">
        <button class="btns" (click)="listarClientes()">Listar Clientes</button>
        <button class="btns" (click)="listarTotalizadores()">Informações Totais</button>
    </div>
    <form class="form">
        <mat-form-field appearance="fill">
            <mat-label>Filtrar clientes</mat-label>
            <input class="input" matInput placeholder="Ex. Predialize" (change)="keyPress($event)">
        </mat-form-field>
    </form>
</div>
<div *ngIf="card_client">
    <mat-card *ngFor="let client of clients" class="card_list">
        <app-card-client [client]="client" (click)="visualizarClient(client)"></app-card-client>
    </mat-card>
</div>
<div *ngIf="card_totais" >
    <app-card-totais [totais]="totais" [list_client_view]=true></app-card-totais>
</div>