<form class="form">
    <mat-form-field class="input-full-width" appearance="fill">
        <mat-label>Filtrar clientes</mat-label>
        <input matInput placeholder="Ex. Predialize" (change)="keyPress($event)">
    </mat-form-field>
</form>
<ul>
    <mat-card *ngFor="let client of clients" class="item-client">
        <div>
            <mat-card-title>{{ client.name }}</mat-card-title>
            <mat-card-subtitle>Cliente de ID: {{ client._id }}</mat-card-subtitle>
            <mat-card-content>
                <p>
                    Quantidade total de empreendimentos: {{ client.quant_enterprises }}
                </p>
                <p>
                    Quantidade total de imóveis: {{ client.quant_realties }}
                </p>
            </mat-card-content>
        </div>
        <img [src]="client.image_src" class="img1" alt="logo do cliente">
    </mat-card>
</ul>