<mat-card>
    <div>
        <mat-card-title *ngIf="!list_client_view">Números Totais do Cliente:</mat-card-title>
        <mat-card-title *ngIf="list_client_view">Números Totais de nosso sistema:</mat-card-title>
        <mat-card-content>
            <p *ngIf="list_client_view">
                Quantidade total de Clientes: {{ totais?.quant_clients }}
            </p>
            <p>
                Quantidade total de empreendimentos: {{ totais?.quant_enterprises }}
            </p>
            <p>
                Quantidade total de imóveis: {{ totais?.quant_realties }}
            </p>
        </mat-card-content>
    </div>
</mat-card>