<mat-card class="content">
    <form class="form">
        <mat-form-field appearance="fill" class="input">
            <mat-label>Filtrar empresas</mat-label>
            <input matInput placeholder="Ex. Predialize" (change)="keyPress($event)">
        </mat-form-field>
    </form>
    <mat-card class="card">
        <div class="client_card">
            <div>
                <mat-card-title>{{ client?.name }}</mat-card-title>
                <mat-card-subtitle>Cliente de ID: {{ client?._id }}</mat-card-subtitle>
            </div>
            <a>
                <img src="assets/load_image.jpg" class="img1" alt="logo do cliente" #imgclient>
            </a>
        </div>
        <mat-card-actions class="navigation">
            <button class="voltar" (click)="backToListClient()">Voltar</button>
        </mat-card-actions>
    </mat-card>
    <app-card-totais [totais]="totais" [list_client_view]=false></app-card-totais>
    <mat-card class="listagem">
        <mat-card-title> Empresas relacionadas ao cliente: {{ client?.name }}</mat-card-title>
        <mat-card-subtitle>Para visualizar o ID da empresa, consulte a página de Empreendimentos.</mat-card-subtitle>
        <app-list-enterprise [page_client_view]="page_client_view" [enterprises]="enterprises"></app-list-enterprise>
    </mat-card>
</mat-card>