<mat-card>
    <mat-card class="card">
        <div class="content">
            <div>
                <mat-card-title>{{ client?.name }}</mat-card-title>
                <mat-card-subtitle>Cliente de ID: {{ client?._id }}</mat-card-subtitle>
            </div>
            <a>
                <img src="assets/load_image.jpg" class="img1" alt="logo do cliente" #imgclient>
            </a>
        </div>
        <mat-card-actions class="navigation">
            <button class="voltar" (click)="backToListClient()">Voltar</button>
        </mat-card-actions>
    </mat-card>
</mat-card>