<div class="card">
    <div>
        <mat-card-title>{{ data?.name }}</mat-card-title>
        <mat-card-subtitle #info_list>Cliente: {{ data?.client_name }}</mat-card-subtitle>
        <mat-card-content>
            <p>
                ID da Empresa: {{ data?._id }}
            </p>
            <p #info_list2>
                Quantidade de imóveis: {{ data?.realties }}
            </p>
        </mat-card-content>
    </div>
    <a>
        <img src="assets/load_image.jpg" class="img1" alt="logo da empresa" #imgEnterprise>
    </a>
</div>